#centralizando{
    text-align: center;
    font-size: 80px;
    color: green;
}
#subititulo{
    text-align: center;
}
.chamando-atenção{
    background-color: rgba(18, 136, 7, 0.555);
    text-align: center;
}
#id-imagem{
    margin-left: 65%;
    border-radius: 9%;
}
#centralizando-textos{
    text-align: left;
    color: rgb(3, 66, 13);
    border: 2px;
    font-size: 40px;
    margin-left: 3%;
}
#link-para-foto{ 
    text-align: right;
    font-size: 30px;
    margin-right: 2%;
    margin-bottom: 2%;
}